[include]
    path = ~/.gitconfig_local
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
