<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>upgrade.apps.plist</string>

        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>5</integer>
            <key>Minute</key>
            <integer>30</integer>
        </dict>

        <key>ProgramArguments</key>
        <array>
            <string>/bin/zsh</string>
            <string>-c</string>
            <string>$DOTFILES/upgrades/upgrade_apps.sh</string>
        </array>

        <key>StandardErrorPath</key>
        <string>/tmp/autoupdate.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/autoupdate.out</string>
    </dict>
</plist>
